<h1>{{title}}</h1>

{{!-- a void section is created, because the script will populate it via appending game tiles found executing the query --}}
<section id="gamesTiles" class="tiles">
</section>

<script type="text/javascript">
    window.onload = function () {
        if ("{{apiFunction}}" == "/api/favorites") {  
            // if page called is favorites, then retrieve favorites from cookies 

            // STA PARTE DOVREI TOGLIERLA E FARE DIRETTAMENTE LE CHIAMATE USANDO L'API

            let fav = localStorage.getItem('favorites');            // window.localStorage contains cookies
            // if cookies are undefined or void, notify user
            if (fav == null || fav == '{}') {
                //fav = {};
                $("#gamesTiles").append("" +
                    "<article class=\"style1\">\n" +
                        "<h2>non ci sono preferiti</h2>\n" +
                    "</article>\n");
            }

            // else parse cookie and execute query for each favorite game
            else {
                fav = JSON.parse(fav);
                // use of jquery to make HTTP requests to obtain data from external database
                $.getJSON("{{{apiFunction}}}?id=" + Object.keys(fav).join(","))     // triple stash (3 braces) is for HTML escaping
                    .done(function (games) {

                        // QUI AGGIUNGERE LA PARTE DI GENERAZIONE PAGINA QUI SOPRA IN CASO NON CI SIANO PREFERITI


                        for (gx in games) {
                            $("#gamesTiles").append("" +
                                "<article class=\"style1\">\n" +
                                    "\t\t<span class=\"image\">\n" +
                                        "\t\t\t<img src=\"" + games[gx].cover.url + "\" alt=\"\" />\n" +
                                    "\t\t</span>\n" +
                                    "<a class=\"game\" href=\"/game/" + games[gx].id + "\">\n" +
                                        "<h2>" + games[gx].name + "</h2>\n" +
                                        "<div class=\"content\">\n" +
                                            "<p>" + games[gx].genres + "</p>\n" +
                                        "</div>\n" +
                                    "</a>\n" +
                                "</article>\n"
                            );
                        }
                    })
                    .fail(function () {
                        alert("Error on the query {{apiFunction}}")
                    });
            }
        }
        else {
            // if it's not favorite page, the render is the same for all the other pages, just execute the query and append each game tile to the section object
            $.getJSON("{{{apiFunction}}}")
                .done(function (games) {
                    for (gx in games) {
                        $("#gamesTiles").append("" +
                            "<article class=\"style1\">\n" +
                                "\t\t<span class=\"image\">\n" +
                                    "\t\t\t<img src=\"" + games[gx].cover.url + "\" alt=\"\" />\n" +
                                "\t\t</span>\n" +
                                "<a class=\"game\" href=\"/game/" + games[gx].id + "\">\n" +
                                    "<h2>" + games[gx].name + "</h2>\n" +
                                    "<div class=\"content\">\n" +
                                        "<p>" + games[gx].genres + "</p>\n" +
                                    "</div>\n" +
                                "</a>\n" +
                            "</article>\n"
                        );
                    }
                })
                .fail(function () {
                    alert("Error on the query {{apiFunction}}")
                });
        }
    }
</script>