<!-- ATTENTION: this is the base structure of the website, all partials will be inserted where the the placeholder {{{body}}} is -->

<!DOCTYPE HTML>
<html xmlns:style="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{title}}</title>
		<link rel="icon" type="image/x-icon" href="/public/images/gamepad-solid.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
		<script src="https://kit.fontawesome.com/4d6f2af632.js" crossorigin="anonymous"></script>

	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
                                    <!-- <span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">Games Finder</span> -->
                                    <i class="fas fa-gamepad"></i><span class="title">Games Finder</span>
                                </a>

                            <!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h1 style="text-align:center">{{#if user}} <i class="fa-solid fa-user"></i> {{user}} {{else}} <i class="fa-regular fa-user"></i> Ospite {{/if}}</h1>	
						<ul class="fa-ul">
							<li>
								<a href="/"><i class="fas fa-medal"></i> I migliori</a>
                            	<a href="/popular"><i class="fas fa-fire"></i> I più popolari</a>
                            	<a href="/hype"><i class="fa-regular fa-calendar-days"></i> I più attesi</a>
                            	<a href="/favorites"><i class="fas fa-star"></i> I tuoi preferiti</a>
                                <form action="/search">
                                    <input style="float: left; width: 80%" type="text" name="txtRicerca" id="txtRicerca" value="" placeholder="Ricerca" />
                                    <button style="float: right; width: 20%" type="submit" id="btnCerca"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
								<a href="/client/register"><i class="fa-brands fa-app-store"></i> Registrazione client</a>
								{{#if user}} 
									<a href="/logout"><i class="fas fa-right-from-bracket"></i></i> Logout</a>
								{{else}}
									<a href="/user/register"><i class="fa-solid fa-user-plus"></i> Registrazione utente</a>
									<a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login tramite OAuth</a>
								{{/if}}
							</li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							{{{body}}}	<!-- this is the placeholder for all handlebars partial views -->
                        </div>
                    </div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <h2 id="nome">Manuele Dentello | LM-66 Sicurezza Informatica | UniMi</h2>
						</div>
					</footer>
			</div>

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts//browser.min.js"></script>
        <script src="/javascripts//breakpoints.min.js"></script>
        <script src="/javascripts//util.js"></script>
        <script src="/javascripts//main.js"></script>

	</body>
</html>